<html>
  <body>
  
    <div id="forframe"></div>
    
    <div id="msgs"></div>

    <script type="text/javascript">
      window.onload = function(){
        var msgs = document.getElementById('msgs');
        var forframe = document.getElementById('forframe');

        function show(msg){
            msgs.innerHTML = msg + '<br />' + msgs.innerHTML;
        }

        var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); };
        ws.onmessage = function(message) {
          show('websocket message: ' +  message.data);
          var url = message.data;
          forframe.innerHTML = '<iframe frameborder="1" id="frame" src="' + url + '"></iframe>';
          // frame.postMessage(message.data, '*');
        };
      }

      function getFromFrame(){
        var frame = document.getElementById('frame');
        console.log(frame.contentWindow.innerHTML);
      }
    </script>

  </body>
</html>
